<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creando la Lista de Utiles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div id="lista-utiles">
    <div class="header">
    <h1>{{ header.toLocaleUpperCase()}}</h1>
        <button  v-if="estado === 'default'" class="btn btn-primary" @click="cambiarEstado('edit')">Agregar</button>
        <button  v-else class="btn btn-secondary" @click="cambiarEstado('default')">Cancelar</button>
    </div>
    <div v-if="estado === 'edit'">
        <input type="text" placeholder="Agregar nuevo" v-model="newUtil" @keyup.enter="guardarElemento">
        <button class="btn btn-primary" @click="guardarElemento">Guardar</button>
    </div>
    <ul>
        <li v-for="lista in utiles">{{ lista }}</li>
    </ul>
    <p v-if="utiles.length === 0">No existen elementos en la lista</p>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
   var app = new Vue({
        el:'#lista-utiles',
       data: {
            header:'Lista de Utiles',
           newUtil: '',
           estado: 'default',
           utiles: [
               /*'10 cuadernos',
               '15 lapices',
               '5 cajas de colores'*/
           ]
       },
       methods: {
            guardarElemento: function() {
                this.utiles.push(this.newUtil);
                this.newUtil = '';
            },
           cambiarEstado: function (newEstado) {
                this.estado = newEstado;
                this.newUtil = '';
           }
       }
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>